main {
    padding-top: 50px;
    background-color: #1c4094;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    overflow: hidden;
}

.searchResult {
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    flex-wrap: wrap;
    color: #fff;
    width: 100%;
}

.movieContainer {
    margin: 10px;
    background-color: #1A2129;
    border-radius: 10px;
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    width: 30%;
    height: 100vh;
}

.moviePoster {
    width: 100%;
    height: 400px;
    object-fit: contain;
}

.movieDetails{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    min-height: 250px;
}
.overview {
    margin-top: 2rem;
    height: 50px;
    text-align: justify;
}
.itemData{
    margin-top: 7px;

}